.new_block {
  height: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
  background-color: rgba(207, 206, 204, 0.747);
  box-shadow: 0 0 5px 10px rgba(207, 206, 204, 0.747);
  margin-bottom: 0%;
  width: 98%;
  margin-left: 1%;
  margin-bottom: 2%;
}

.img_slide {
  width: 25rem;
}

@media (max-width: 991px) {
  .new_block {
    display: block;
  }

  .img_slide {
    width: 15rem;
  }

  .contact {
    font-size: 18px;
    text-align: center;
  }

  .contact-block {
    width: 90%;
    text-align: center;
  }

  .map {
    width: 225;
    height: 150;
  }
}
